/** Шрифты **/
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);


/** Общие **/
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder {
    color: transparent
}
:focus:-moz-placeholder {
    color: transparent
}
:focus:-ms-input-placeholder {
    color: transparent
}
button:active, button:focus {
    outline: 0;
    border-color: transparent;
}
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h2 {
    font-weight: 700;
}
h3 {
    font-family: 'PT Sans', Helvetica, sans-serif;
}
input {
    font-family: 'PT Sans', Helvetica, sans-serif;

}
.yellow {
    color: #ffd200;
}
.earn-button {
    font-size: 22px;
    margin-top: 25px;
    background-color: #ffd200;
    padding: 13px 16px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    box-shadow: 3px 3px #416996;
    font-weight: 700;
}

/** Шапка (первый блок) **/
.first {
    background-color: #000000;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}
.first img {
    background: #000;
    padding: 0 10px;
}
.first_row {
    width: 475px;
    text-align: center;
    display: inline-block;
    background-image: url(../images/first_line.png);
    background-position: center 19px;
    background-repeat: repeat-x;
}
.first_corner {
    height: 36px;
    background-image: url(../images/first_corner.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
/** Интро (второй блок) **/
.second {
    height: 415px;
    text-align: center;
    font-family: 'PT Sans';
    background-image: url(images/bg_tower.png);
    background-position: center -16px;
}
.second h2 {
    font-size: 52px;
    line-height: 1.1;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}
/*.second_corner {
    height: 31px;
    margin-top: -10px;
    background-image: url(../images/second_corner.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}*/
.earn {
    padding-top: 15px;
}
.fast-register {
    margin-top: 30px!important;
    color: white;
}
.fast-register h3 {
    font-size: 23px;
    line-height: 28px;
}

.second_agreement {
    color: #fff;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
    height: 24px;
    margin-top: 12px;
}
.second_agreement img{
    line-height: 24px;
}
.second_agreement a {
    color: white;
}
.second_agreement span{
    vertical-align: middle;
    margin: 3px 0 0 3px;
    font-weight: 400;
    display: inline-block;
    font-size: 11px;
}
.second_form {
    background-color: #202e41;
    border-radius: 5px;
    border: 1px solid #FFD200;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 285px;
    margin-right: 5px;
}
.second_form:focus {
    border-color: transparent;
}
.second_form::-webkit-input-placeholder       {color: rgba(226, 223, 239, 0.9) }
.second_form::-moz-placeholder                {color: rgba(226, 223, 239, 0.9) }
.second_form:-moz-placeholder                 {color: rgba(226, 223, 239, 0.9) }
.second_form:-ms-input-placeholder            {color: rgba(226, 223, 239, 0.9) }



.third {
    height: 480px;
    text-align: center;
    font-family: 'PT Sans';
    background-color: #ebebeb;
}
.third h2 {
    font-size: 40px;
    padding: 0 15px;
    background-color: #ebebeb;
    display: inline-block;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.third_name {
    position: relative;
    background: url("../images/line.png") center repeat-x;
    width: 604px;
    height: 47px;
    margin: 20px auto 0;
}
.third_row_top {
    height: 207px;
    padding-top: 35px;
}
.third_row_top p {
    margin-top: 19px;
    margin-left: -60px;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #000;
    display: inline-block;
    padding: 20px 0;
    line-height: 1;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.pull_left_text {
    padding-left: 25px;
}
.third_row_top_content {
    width: 50%;
}
.third_row_top_content2 {
    padding-left: 72px;
}
.fourth {
    height: 480px;
    background-image: url(images/bg_fourth.png);
    background-position: center;
    background-color: white;
    text-align: center;
}
.fourth h2 {
    font-size: 40px;
    padding-top: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.fast-img {
    padding-top: 25px;
    height: 335px;
}
.fourth p {
    font-size: 21px;
    font-weight: 100;
    padding-top: 20px;
}
.up {
    color: #65a951;
}
.down {
    color: #ac2945;
}
.fifth {
    height: 698px;
    background-color: #000000;
    background-position: center;
    text-align: center;
    color: white;
}
.fifth h2 {
    font-size: 40px;
    padding-top: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.link_green {
    display: inline-block;
    width: 133px;
    height: 133px;
    border: 0;

    border-radius: 5px;
    box-shadow: 3px 3px #406127;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: #65a951 url("../images/course_up.png") center 35px no-repeat;
}
.link_green:hover {
    background-color: #69BC51;
}
.fifth_link_green {
    padding-top: 115px;
}
.fifth_link_green a {
    text-decoration: none;
    color: white;
}
.fifth_link_red a {
    text-decoration: none;
    color: white;
}
.link_red {
    display: inline-block;
    width: 133px;
    height: 133px;
    border: 0;

    border-radius: 5px;
    box-shadow: 3px 3px #541422;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background: #ac2945 url("../images/course-down.png") center 35px no-repeat;

    position: relative;

}
.link_red:hover {
    background-color: #B21D3D;
}
.link_red:disabled, .link_green:disabled {
    opacity: 0.7;
}
.fifth_link_red {
    padding-top: 52px;
}

.fifth_link_wrapper p {
    padding-top: 90px;
}


.fifth .demo {
    width: 748px;
    height: 426px;
    margin-top: 4px;
    background: #000 url(../images/tablet.png) no-repeat;
    position: relative;
}
.demo .inner {
    background: #000 url(../images/graph.png);
    position: absolute;
    top: 20px;
    left: 22px;
    right: 22px;
    bottom: 20px;
    display: flex;
    align-items: left;
    justify-content: right;
    flex-direction: row;
    overflow: hidden;

}
.demo_column {


    border: 1px solid #000;
    border-width: 1px 1px 0 0;

  align-self: flex-end;
  position: relative;
  display: none;

  background: rgba(255,255,255,0.49);
background: -moz-linear-gradient(top, rgba(255,255,255,0.49) 0%, rgba(255,255,255,0.31) 47%, rgba(255,255,255,0.31) 48%, rgba(0,0,0,0.11) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.49)), color-stop(47%, rgba(255,255,255,0.31)), color-stop(48%, rgba(255,255,255,0.31)), color-stop(100%, rgba(0,0,0,0.11)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.49) 0%, rgba(255,255,255,0.31) 47%, rgba(255,255,255,0.31) 48%, rgba(0,0,0,0.11) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.49) 0%, rgba(255,255,255,0.31) 47%, rgba(255,255,255,0.31) 48%, rgba(0,0,0,0.11) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.49) 0%, rgba(255,255,255,0.31) 47%, rgba(255,255,255,0.31) 48%, rgba(0,0,0,0.11) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.49) 0%, rgba(255,255,255,0.31) 47%, rgba(255,255,255,0.31) 48%, rgba(0,0,0,0.11) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
 }
.demo_column span{
    position: absolute;
    bottom: 7px;
    left: 20px;
    right: 20px;
    font-size: 10px;
    border-radius: 3px;
    padding: 3px 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.row_fifth_conditions_text {
    font-size: 18px;
    padding-top: 33px;
}
.row_fifth_conditions_text span {
    padding-left: 15px;
    font-size: 18px;
    color: #555c65;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.row_fifth_conditions_text b {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}


.fifth_conditions {
    font-size: 30px;
}
.fifth_conditions span {
    font-size: 20px;
    color: #555c65;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.fifth_conditions b {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}
.sixth {
    height: 1075px;
    background: #fff url(images/bg_sixth.png) no-repeat;
    background-position: center 406px;
    text-align: center;
    font-family: 'PT Sans';
}
.sixth-head {
    height: 175px;
}
.sixth-head-line {
    height: 41px;
    position: relative;
    background: url("../images/sixth_line.png") top center no-repeat;
}
.sixth_agreement p{
    text-align: center;
    font-size: 11px;
    padding-top: 25px;

}
.sixth_agreement a {
    color: black;
}
.prime {
    height: 350px;
}
.mfd {
    height: 350px;
}
.sixth img {
    padding-top: 50px;
    padding-right: 300px;
}
.sixth h2 {
    font-size: 40px;
    padding-top: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.row_sixth p {
    font-size: 18px;
    text-align: left;
    padding-top: 30px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.row-register {
    height: 517px;
}
.sixth_checkbox_text {
    color: #5f6978;
}
.sixth_form {
    background-color: #202e41;
    border-radius: 5px;
    border: 1px solid #bdc0c4;
    text-align: center;
    opacity: 0.7;
    color: white;
    font-size: 15px;
    width: 318px;
    padding: 19px 0;
    display: block;
    margin: 10px auto 0;
    font-size: 18px;
}
.seventh {
    height: 600px;
    text-align: center;
    font-family: 'PT Sans';
        margin-bottom: 67px;
}
.seventh_header {
    height: 180px;
    position: relative;
    /*background: url("../images/seventh_line.png") top center no-repeat;*/
    border-top: 3px dashed #333;
    margin-top: 40px;
}
.seventh_header_text {
    padding-top: 40px;
}
.seventh_header_text h2 {
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.seventh_header_text p {
    font-size: 30px;
}
.seventh_col {
    height: 180px;
}
.seventh_col img {
    padding-top: 20px;
}
.seventh_col_money {
    height: 120px;
}
.seventh_row_money {
    padding: 32px 0 20px;

}

.seventh_row_all {
    height: 240px;
    position: relative;
    background: url("../images/bg_money.png") top center no-repeat;
}
.seventh_row_operator {
    height: 120px;
    display: inline-block;
}


.seventh_col_1 {
    padding-left: 0;
    margin-left: -15px;
}
.seventh_col_2 {
    padding-left: 0;
}
.seventh_col_3 {
    padding-left: 10px;
}
.eighth {
    height: 793px;
    overflow: hidden;
    text-align: center;
    font-family: 'PT Sans';
}
.eighth_header {
    height: 180px;
    position: relative;
    background: url("../images/seventh_line.png") top center no-repeat;
}
.eighth_header_text {
    padding-top: 40px;
    text-align: center;
}
.eighth_header_text h2 {
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.eighth_header_text p {
    font-size: 30px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.eighth_bottom {
    height: 780px;
}
.eighth_col1 {
    height: 780px;
}
.eighth_col2 {
    padding-left: 80px;
    height: 780px;
}
.eighth_col1_andr {
    height: 186px;
    position: relative;
    background: url("../images/seventh_line.png") center center no-repeat;
}



/** Делайте деньги (9 блок) **/
.ninth {
    height: 530px;
    text-align: center;
    background: url("../images/bg_ninth.png");
    background-position: center center;
}
.ninth_form {
    background-color: #202e41;
    border-radius: 5px;
    border: 1px solid #bdc0c4;
    text-align: center;
    opacity: 0.7;
    color: white;
    font-size: 15px;
    width: 318px;
    padding: 19px 0;
    display: block;
    margin: 10px auto 0;
    font-size: 18px;
}
.ninth_btn {
    height: 50px;
    font-size: 23px;
    border-radius: 5px;
    background-color: #ffd200;
    box-shadow: 3px 3px #416996;
}
.ninth_header {
    height: 180px;
    position: relative;
    background: url("../images/ninth_line.png") center 20px no-repeat;
    padding-top: 20px;

}
.ninth_agreement {
    padding-top: 25px;
    font-size: 11px;
}
.ninth_agreement a {
    color: black;
}
.ninth_header_text {
    padding-top: 40px;
    text-align: center;
}
.ninth_header_text h2 {
    font-size: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.ninth_header_text span {
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.ninth_form_reg {
    padding-top: 5px;
}
.ninth_checkbox_text {
    color: #575f6a;
}

/** Подвал (10 блок) **/
.tenth {
    height: 163px;
    text-align: center;
    background-color: #000000;
    color: #838d99;
}
.tenth_header {
    height: 70px;
    padding-top: 30px;
}
.tenth_header_text p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.tenth_center {
    height: 30px;
}
.tenth_contact_logo {
    height: 63px;
    background: url(../images/contact_logo.png) center no-repeat;
}
.eleventh {
    height: 100px;
    background-color: #1d1d1d;
}
.eleventh_left_content {
    background: url(../images/warning.png);
    height: 100px;
}
.eleventh_right_content {
    height: 100px;
    padding-top: 20px;
}
.eleventh_right_content p {
    color: #79838f;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


.vector_up {
    background: rgba(139,170,116,1);
    background: -moz-linear-gradient(top, rgba(139,170,116,1) 0%, rgba(42,81,11,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,170,116,1)), color-stop(100%, rgba(42,81,11,1)));
    background: -webkit-linear-gradient(top, rgba(139,170,116,1) 0%, rgba(42,81,11,1) 100%);
    background: -o-linear-gradient(top, rgba(139,170,116,1) 0%, rgba(42,81,11,1) 100%);
    background: -ms-linear-gradient(top, rgba(139,170,116,1) 0%, rgba(42,81,11,1) 100%);
    background: linear-gradient(to bottom, rgba(139,170,116,1) 0%, rgba(42,81,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8baa74', endColorstr='#2a510b', GradientType=0 );        display: block;
    padding: 4px 0;
}

.vector_down {
    background: rgba(236,43,9,1);
    background: -moz-linear-gradient(top, rgba(236,43,9,1) 0%, rgba(236,65,39,1) 23%, rgba(207,31,7,1) 66%, rgba(206,36,13,1) 89%, rgba(202,37,22,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,43,9,1)), color-stop(23%, rgba(236,65,39,1)), color-stop(66%, rgba(207,31,7,1)), color-stop(89%, rgba(206,36,13,1)), color-stop(100%, rgba(202,37,22,1)));
    background: -webkit-linear-gradient(top, rgba(236,43,9,1) 0%, rgba(236,65,39,1) 23%, rgba(207,31,7,1) 66%, rgba(206,36,13,1) 89%, rgba(202,37,22,1) 100%);
    background: -o-linear-gradient(top, rgba(236,43,9,1) 0%, rgba(236,65,39,1) 23%, rgba(207,31,7,1) 66%, rgba(206,36,13,1) 89%, rgba(202,37,22,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,43,9,1) 0%, rgba(236,65,39,1) 23%, rgba(207,31,7,1) 66%, rgba(206,36,13,1) 89%, rgba(202,37,22,1) 100%);
    background: linear-gradient(to bottom, rgba(236,43,9,1) 0%, rgba(236,65,39,1) 23%, rgba(207,31,7,1) 66%, rgba(206,36,13,1) 89%, rgba(202,37,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2b09', endColorstr='#ca2516', GradientType=0 );
        display: block;
    padding: 4px 0;
}
